*{
    margin: 0;
    padding: 0;
    
}
body{
    height: 200vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}
img{
    height: 13vh;
    width: 13vh;
}

header{
    background-color: #3c95c6;
    height: 40%;
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
   
    
    
    
}
.logos{
    display: flex;
    gap: 50px;

    
    
}
.title{

color: #fff;
font-family: "Open Sans",Helvetica,sans-serif;
font-size: 4.5rem;
font-weight: bolder ;
text-shadow: #1e1e1e 0px 10px 5px;
}
.start{
    justify-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
   
    margin-top: auto;
}
.start button {
    height: 5rem;
    background: rgba(255,255,255,.25);
    letter-spacing: 1px;
    display: inline-block;
    padding: 0 30px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    border: 2px solid #fff;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-radius: 8px;
    background: rgba(255,255,255,.15);
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
    cursor: pointer;
    font-size: larger;
    transition:0.1s ease-in;
    
  }
  .validate:hover,.start button:hover{
    scale: 1.2;
  }

  section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px;
  }
  #result{
    width: 40%;
    height: 40%;
    color: #1e1e1e;
    border-radius: 8px;
    height:  100px;
    text-align: center;
    font-family: "Open Sans",Helvetica,sans-serif;
    font-weight: bolder;
    
    font-size: 4vh;
    
  }
  .choiceBtn{
    height: 5rem;
    background: rgba(255,255,255,.25);
    letter-spacing: 1px;
    display: inline-block;
    padding: 0 30px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    border: 2px solid #fff;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-radius: 8px;
    background: rgba(255,255,255,.15);
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
    cursor: pointer;
    font-size: larger;
    transition:0.1s ease-in;
    color: #1e1e1e;
  }
  footer{
    justify-self: end;
    padding: 10px;
    text-align: center;
    text-shadow: #616 0px 2px 10px ;
   
  }
.popup{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color:rgba(255,255,255,.25);

}
#name,.popupContainer{
 
  height: 50%;
  width: 50%;
  display:flex ;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 15px;
  background: rgba(255,255,255,.25);
  border: 2px solid #1e1e1e;
}
.popupname{
  display: flex;
  flex-direction: column;
  align-items: center;  
  justify-content: space-between;
  height: 20%;
}
.popupheader{
  color: #1e1e1e;
  font-size: 4vh;
  font-weight: bolder;
  font-family: "Open Sans",Helvetica,sans-serif;
  text-transform: uppercase;
 
  
}
.validate{
  height: 5rem;
  background: rgba(255,255,255,.25);
  letter-spacing: 1px;
  display: inline-block;
  padding: 0 30px;
  font-weight: 600;
  text-transform: uppercase;
  color: #1e1e1e;
  border: 2px solid #1e1e1e;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-radius: 8px;
  background: #fff;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
  cursor: pointer;
  font-size: larger;
  transition:0.1s ease-in;
}
#name{
  color: #1e1e1e;
  font-size: 4vh;
  text-align: center;
}

.popup.inactive{
  display: none;
}
.game.inactive{
  display: none;
}
.game{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 200px;
  width: 100vw;
}


#rock{
  background: url(./images/rock.svg);
  text-align: center;
  background-repeat: no-repeat;
  height: 200px;
  width: 200px;
  background-size: contain;
  margin-right: 50px;
  margin-top: 50px;
  
}
#paper{
  background: url(./images/paper.svg);
  text-align: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 200px;
  width: 200px;
}
#scissors{
  background: url(./images/scissor.svg);
  text-align: center;
  background-repeat: no-repeat;
  background-size: contain;
  
  height: 200px;
  width: 200px;
}
#playerChoice{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}
/*.scroll-down{
  height: 50px;
  width: 30px;
  border: 2px solid #1e1e1e;
  border-radius: 50px;
  cursor: pointer;
  
}*/


